{% load static %}
<footer id="footer" class="footer light-background">

  <div class="container">
    <div class="copyright text-center ">
      <p>© <span>Copyright</span><strong class="px-1 sitename">resume<span class="sixty_four">64</span></strong><span>All Rights Reserved</span></p>
    </div>
    <div class="social-links d-flex justify-content-center">
      <a href=""><i class="ri-instagram-line"></i></a>
      <a href=""><i class="ri-linkedin-box-fill"></i></a>
    </div>
    <div class="credits">Designed by <a href="">abhisekh64</a>
    </div>
  </div>

</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
    class="ri-arrow-up-line"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<!-- Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>